<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727690186741-7vb9d1f90ehiiuat00ghefeersg2t03n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727690186741-7vb9d1f90ehiiuat00ghefeersg2t03n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>727690186741-sgh9lc3i2qo0evpn291nsev7o2g0ehq1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDAoqoD147-aQxAUQDugpo9YGYDV8sm1aw</string>
	<key>GCM_SENDER_ID</key>
	<string>727690186741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.triplaner</string>
	<key>PROJECT_ID</key>
	<string>tripplaner-5458e</string>
	<key>STORAGE_BUCKET</key>
	<string>tripplaner-5458e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727690186741:ios:999f05a3ac7edecee6dabc</string>
</dict>
</plist>